/* css reset */
html,
body {
  height: 100%;
  width: 100%;
}

* {
  border-color: transparent;
  /* box-shadow: 0 0 0 2px blue; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width:1px
}
/* global css variables go here */
:root {
  --dark-bg-color: hsla(0, 50%, 80%, 100%);
  --dark-text-color: hsla(0, 0%, 0%, 100%);
}
